<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Accueil Film</title>
</head>
<body>
	<h1>Accueil Film</h1>

	<a href="/create">Créer un film</a>
	<a href="/logout">Déconnexion</a>

	<div class="container">
		<div class="row">
			<div th:each="film: ${listeFilm}" class="col-sm">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
					<div class="card-body"><a th:href="@{film(id=${film.id})}">
						<h5 class="card-title" th:text="${film.titre}"></h5></a>
						<p class="card-text" th:text="${film.description}"></p>
						<a th:href="@{avis(id=${film.id})}" class="btn btn-primary">Laisser un avis</a>
						<a th:href="@{delete(id=${film.id})}" class="btn btn-warning">Supprimer un film</a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>